.inputContainer input {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  padding-left: 12px;
  margin-bottom: 4px;
}

.inputContainer p {
  color: #fff;
  font-size: 20px;
  padding-bottom: 8px;
}

.textarea textarea {
  resize: none;
  max-width: 600px;
  width: 100%;
  height: 210px;
}
